$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "components/whatsapp-button";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "components/header";
@import "components/hero-slider";
@import "components/mobile";
@import "components/form";
body {
    font-family: sans-serif;
}



