@import 'tailwindcss';
@import "components/whatsapp-button";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

header {
    padding-top: 10px;
    width: 100%;
    height: 40px;
    background: black;
    color: white;

    .container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 1230px;
    }
}

