header {
    .header-mobile, .mobile-menu {
        display: none;
    }

    width: 100%;
    height: 50px;
    display: flex;
    background: black;
    color: white;
    align-items: center;

    .container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: auto;
        max-width: 1230px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    p {
        margin: 0;
    }

    i::before {
        color: #f16f28;
        margin-right: 5px
    }

    .messengers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0;

        a {
            display: flex;
            align-items: center;
        }

        i::before {
            font-size: 20px;
            margin-right: 10px;
        }

        .max-app {
            width: 25px;

            svg {
                width: 100%;
                margin-left: -3px;
            }
        }
    }
}

.logo {
    background-image: url("/public/images/icons/logo.svg");
}

@media screen and (max-width: 1024px) {
    header {
        font-size: 13px;
    }
}
