.hero {
    position: relative;
    min-height: 100vh;

    .logo-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        z-index: 3;
    }

    // затемнение фона
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    // Swiper как фон
    &-swiper {
        height: 100vh;

        .swiper-slide {
            height: 100%;
            background-size: cover;
            background-position: center;
            animation: heroZoom 12s linear infinite;
        }
    }

    // Контент поверх слайдера
    &-content {
        position: absolute;
        z-index: 2;
        top: 40%;
        left: 8%;
        transform: translateY(-50%);
        max-width: 720px;
        color: #fff;

        h1 {
            font-size: 55px;
        }

        .mobile-title {
            display: none;
        }

        .hero-icons {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 20px;

            .bi::before {
                color: #f16f28;
                font-size: 24px;
            }
        }

        button {
            padding: 10px 25px;
            font-size: 18px
        }
    }

    .blue-block {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    .hero-content {
        h1 {
            font-size: 50px;
        }
    }
}

@media (max-width: 768px) {
    .hero {
        &-content {
            left: 5%;
            right: 5%;
            max-width: none;
        }
    }
}
