.whatsapp-btn {
    width: 280px;
    height: 65px;
    color: #fff;
    border-radius: 50px;
    padding: 10px 5px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background: #7bf318;
    background: linear-gradient(180deg, #f16f28 46%, #ff8f4b 100%);
    color: #fff;
    overflow: hidden;
    letter-spacing: 1px;

    &:hover {
        text-decoration: none;
        color: #fff;
        opacity: 0.7;
    }

    &::before {
        position: absolute;
        content: "";
        display: inline-block;
        top: -180px;
        left: 0;
        width: 30px;
        height: 100%;
        background-color: #fff;
        animation: shiny-btn1 3s ease-in-out infinite;
    }

    &:active {
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
    }
}


@keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }
    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

@media screen and (max-width: 1024px) {
    .whatsapp-btn {
        width: 210px;
        height: 50px;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .whatsapp-btn {
        width: 250px;
        height: 59px;
        font-size: 16px;
        animation-duration: 3s;
        animation-name: whatsapp-border;
    }
}
